<link rel="stylesheet" type="text/css" href="assets/css/user.css?v=2">
<link rel="stylesheet" type="text/css" href="assets/css/header.css?v=2">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <div id="user">
        <div class="container-box">
                <div class="keyword-container" id="keyword-container">
                    <div class="header">User Preferences</div>
                    <div class="id-input">
                        <div>Input your Google Scholar ID:</div>
                        <input type="text" placeholder="Input Here" id="id-input">
                        <button class="submit-id" id="submit-id" name="name">Submit</button>
                        <span class="get-scholar-id" id="get-scholar-id">How to get my ID?</span>
                    </div>
                    <div id="profile" class="profile row">
                    </div>
                    <div id="filter-text" class="filter-text">
                    </div>
                </div>
            </div>
        <div id="myModal" class="modal">
            <div class="modal-content1" id="modal-content1">
                <div class="modal-close"><i class="fa-solid fa-xmark" id="modal-close"></i></div>
                <div>Find your profile user ID</div>
                <input type="text" placeholder="paste your Google Scholar profile URL here" id="modal-url">
                <% if(locals.title){ %> 
                    <div><%= result%> </div>
                <% }else{ %> 
                        
                <% } %> 
            </div>
        </div>
    </div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
<script type="text/javascript" src="assets/js/user.js"></script>